<div class="container">
    <div class="row">
        <span>
            <h2>Shopping List</h2>
        </span>
        <div class="col-xs-6">
            <div class="col-xs-3">
                <a onclick="addList()">Add List</a>
            </div>
        </div>
        <div class="col-xs-6">

        </div>
    </div>
</div>

<div id="addListModal" class="modal">

</div>

<script>
    function addList() {
        $("#addListModal").load('@Url.Action("addListCard", "Home")', function () {
            $("addListModal").modal('show');
        });
    }
</script>